C19_bounds.rds
C19_use.rds
C19_use_sex.rds
CLUSTERS.txt
ClusterDeviance.pdf
ClusterRateAging.pdf
Covariates.rds
DiffOptions.pdf
ETA1fit.RData
ETA1fit.rda
ETA1fit.txt
Edagger.png
FittedData.RData
FittedSVD.png
HierarOut.RDdata
HierarOut2.RDdata
HierarOutGomp.RDdata
LifeExp.png
Offsets.rds
OffsetsNew.rds
OptimalLambda.pdf
OutCluster
OutCluster.zip
RegressionSVD.pdf
ResponsesCovariates.txt
SimpleCorPlot.pdf
SingularValues.txt
SingularVectors.png
SubjectiveLambda.pdf
WHO_compare.rds
WPP_Covariates.rds
offsets.rds
unpd_data_for_leena.R
